.aboutus-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .aboutus-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .aboutus-container p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  